.todoInputWrapper {
  border-bottom: 1px solid #ededed;
  position: relative;
}

.todoInputWrapper i {
  position: absolute;
  left: 5%;
  top: 40%;
}

.todoInput {
  padding: 20px 50px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  font-style: italic;
}

.todoInput::placeholder {
  color: #E6E6E6;
}