.App {
  text-align: center;
  background-color: #F5F5F5;
  height: 100vh;
}

.fa-chevron-down {
  color: #E6E6E6;
}

.fa-check-circle {
  color: #77C0AF;
}

.fa-circle {
  color: #E6E6E6;
}

/* "prestart": "npm i", */